<p-table [value]="clientes" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Documento</th>
          <th>Nombre Completo</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Cupo</th>
          <th>Saldo</th>
          <th>Opciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
      <tr *ngIf="cliente.id!=1">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombres}} {{cliente.apellidos}}</td>
          <td>{{cliente.celular}}</td>
          <td>{{cliente.email}}</td>
          <td>${{cliente.cupo | number: "0.0" }}</td>
          <td>${{cliente.saldo | number: "0.0" }}</td>
          <td style="text-align: right;">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="edit(cliente)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminar(cliente)"  ></button>
        </td>
      </tr>
  </ng-template>
</p-table>
