<p>listado-clientes works! {{clientes|json}}</p>
<p-table [value]="clientes" responsiveLayout="scroll">
  <ng-template pTemplate="header">
      <tr>
          <th>Documento</th>
          <th>Nombre Completo</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Cupo</th>
          <th>Saldo</th>
          <th>Opciones</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
      <tr>
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombres}} {{cliente.Apellidos}}</td>
          <td>{{cliente.celular}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.cupo}}</td>
          <td>{{cliente.saldo}}</td>
          <td style="text-align: right;">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" ></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" ></button>
        </td>
      </tr>
  </ng-template>
</p-table>
