<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-plus"
      label="Nuevo"
      class="p-button-rounded p-button-success"
    ></button>
  </div>
</p-toolbar>

<div class="grid mt-2">
  <div class="col-3">
    <div class="card card-full-h">
      <app-edit-justificaciones-component></app-edit-justificaciones-component>
    </div>
  </div>
  <div class="col-9">
    <div class="card card-full-h">
      <app-listado-justificaciones-component></app-listado-justificaciones-component>
    </div>
  </div>
</div>
