<!-- {{venta|json}} -->
<p-toast position="top-center"></p-toast>
<div class="grid">
  <div class="col-3">
    <div class="card card-full-h" >
      <app-recibo-productos [venta]="venta" [total]="total"></app-recibo-productos>
      <app-codigo-barras [productos]="productos" (addItem)="agregar($event)"></app-codigo-barras>

      <button pButton label="Vender" (click)="vender()"></button>
    </div>
  </div>
  <div class="col-9">
    <div class="card card-full-h">
      <app-data-view-productos [productos]="productos" (addItem)="agregar($event)"></app-data-view-productos>
    </div>
  </div>
</div>
