
<h3 *ngIf="!venta?.cliente?.id">{{venta.cliente?.documento}} {{venta.cliente?.nombres}} {{venta.cliente?.apellidos}}</h3>
<p-table [value]="venta.detallesVentas" responsiveLayout="scroll" [scrollable]="true" scrollHeight="250px" >
  <ng-template pTemplate="header">
      <tr>
          <th>Producto/Cantidad</th>
          <th>SubTotal</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-detalle style="height:480px;">
      <tr>
          <td>{{detalle.producto.descripcion}} x {{detalle.cantidad}}</td>
          <td style="text-align: right !important;">${{detalle.valor | number: '0.0'  }}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td>Total Compra:</td>
      <td  style="text-align: right !important;">${{total | number: '0.0' }}</td>
    </tr>
</ng-template>
</p-table>

