<!-- <p>data-view-productos works! {{productos|json}}</p> -->
<div class="grid">
  <div class="col-12">
  <p-dataView
    #dv
    [value]="productos"
    [paginator]="true"
    [rows]="12"
    filterBy="categoriaId"
    layout="grid"
  >
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <p-dropdown
          [options]="categorias"
          (onChange)="filtrar($event)"
          styleClass="p-column-filter"
          optionValue="id"
          optionLabel="descripcion"
          placeholder="Filtrar por Categoría"
          [showClear]="true"
          styleClass="mb-2 mb-md-0"
        >
          <ng-template let-option pTemplate="item">
            <span>{{ option.descripcion }}</span>
          </ng-template>
        </p-dropdown>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-producto pTemplate="listItem">
      <div class="col-12">
        <div class="product-list-item">
          <img [src]="urlImagenes + producto.id" [alt]="producto.descripcion" />
          <div class="product-list-detail">
            <div class="product-name">{{ producto.descripcion }}</div>
            <div class="product-description">{{ producto.codigoBarras }}</div>
            <i class="pi pi-tag product-category-icon"></i
            ><span class="product-category">{{
              producto.categoria.descripcion
            }}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price"
              >${{ producto.precio | number: "0.0" }}</span
            >
            <p-button
              icon="pi pi-shopping-cart"
              label="Agregar al carrito"
              [disabled]="producto.cantidad === 0"
              (click)="agregar(producto)"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-producto pTemplate="gridItem">
      <div class="col-2">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <p-badge value="{{producto.cantidad| number: '0.0'}}" class="mr-2"></p-badge>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{
                producto.categoria.descripcion
              }}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img *ngIf="producto?.imagen"
              [src]="urlImagenes + producto.id"
              [alt]="producto.descripcion"
            />
            <i class="pi pi-camera " style="font-size: 6rem; height: 112px;" *ngIf="!producto?.imagen"></i>
            <div class="product-name mt-4">{{ producto.descripcion }}</div>
            <div class="product-description">{{ producto.codigoBarras }}</div>
          </div>
          <div class="product-grid-item-bottom mt-3">
            <span class="product-price"
              >${{ producto.precio | number: "0.0" }}</span
            >
            <p-button
              class="ml-3"
              icon="pi pi-shopping-cart"
              [disabled]="producto.cantidad === 0"
              (click)="agregar(producto)"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
</div>
