<button pButton pRipple type="button" icon="pi pi-bookmark" label="Ventas" class=" p-button-rounded mt-5 mb-3 " style="min-width: 80px;"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" label="Inventario" class="p-button-outlined p-button-rounded mb-3" style="min-width: 80px;"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" label="Productos" class="p-button-outlined p-button-rounded mb-3" style="min-width: 80px;"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" label="Clientes" class="p-button-outlined p-button-rounded mb-3" style="min-width: 80px;"></button>
<button pButton pRipple type="button" icon="pi pi-bookmark" label="Fiaos" class="p-button-outlined p-button-rounded mb-3" style="min-width: 80px;"></button>
