<button
  pButton
  pRipple
  type="button"
  icon="pi pi-bookmark"
  label="Ventas"
  class="p-button-outlined p-button-rounded mt-5 mb-3"
  style="min-width: 100px"
  [routerLink]="'/ventas'"
  routerLinkActive="p-button-success"
></button>
<button
  pButton
  pRipple
  type="button"
  icon="pi pi-user"
  label="Clientes"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/clientes'"
  routerLinkActive="p-button-success"
></button>
<button
  pButton
  pRipple
  type="button"
  icon="pi pi-bookmark"
  label="Categorias"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/categorias'"
  routerLinkActive="p-button-success"
></button>
<button
  pButton
  pRipple
  type="button"
  icon="pi pi-bookmark"
  label="Productos"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/productos'"
  routerLinkActive="p-button-success"
></button>
<!-- <button
  pButton
  pRipple
  type="button"
  icon="pi pi-bookmark"
  label="Justificaciones"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/justificaciones'"
  routerLinkActive="p-button-success"
></button> -->

<button
  pButton
  pRipple
  type="button"
  icon="pi pi-bookmark"
  label="Formas de Pago"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/formapagos'"
  routerLinkActive="p-button-success"
></button>


<!-- <button
  pButton
  pRipple
  type="button"
  icon="pi pi-user"
  label="Usuarios"
  class="p-button-outlined p-button-rounded mb-3"
  style="min-width: 100px"
  [routerLink]="'/usuarios'"
  routerLinkActive="p-button-success"
></button> -->
