<p-table
  #dt
  [value]="productos"
  [scrollable]="true"
  scrollHeight="60vh"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  responsiveLayout="scroll"
  currentPageReportTemplate="{first} a {last} (Total {totalRecords} productos)"
>
  <ng-template pTemplate="header">
    <tr>
      <th>DESCRIPCIÓN</th>
      <th>CODIGO DE BARRAS</th>
      <th>
        <p-dropdown
          [options]="categorias"
          (onChange)="filtrar($event)"
          styleClass="p-column-filter"
          optionValue="id"
          optionLabel="descripcion"
          placeholder="Categoria"
          [showClear]="true"
        >
          <ng-template let-option pTemplate="item">
            <span>{{ option.descripcion }}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>CANTIDAD</th>
      <th>PRECIO</th>
      <th style="text-align: right">OPCIONES</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-producto>
    <tr>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.codigoBarras }}</td>
      <td>{{ producto.categoria.descripcion }}</td>
      <td>{{ producto.cantidad }}</td>
      <td>${{ producto.precio | number: "0.0" }}</td>
      <td style="text-align: right">
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-success mr-2"
          (click)="edit(producto)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger"
          (click)="delete(producto)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
