<p-toast position="top-center"></p-toast>

<div class="grid">
  <div class="col-12" *ngIf="!producto?.id">
    <h5>Crear Producto</h5>
  </div>
  <div class="col-6" *ngIf="producto?.id">
    <h3>Editar Producto</h3>
    <h5>{{ producto?.descripcion }}</h5>
  </div>
  <div class="col-5 ml-2 text-center" *ngIf="producto?.id">
    <p-image
      class=""
      [src]="urlImagenes + producto?.id"
      alt="Image"
      width="60px"
    ></p-image>
    <p-fileUpload *ngIf="producto" #fubauto mode="basic" name="imagen[]" [customUpload]="true" (uploadHandler)="actualizarImagen( producto.id,$event)" accept="image/*"  [auto]="true" chooseLabel="Cambiar" ></p-fileUpload>
  </div>
</div>
<form (ngSubmit)="crear()" autocomplete="off" [formGroup]="form">
  <div class="grid">
    <label for="descripcion" class="col-12"><h5>Descripcion:</h5></label>
    <input
      type="text"
      id="descripcion"
      class="col-12"
      pInputText
      placeholder="Descripción breve de la producto"
      formControlName="descripcion"
    />
    <label for="categoriaId" class="col-12"><h5>Categoria:</h5></label>
    <p-dropdown
      class="col-12"
      autoWidth="false"
      [style]="{ width: '100%' }"
      placeholder="Categoria del producto"
      [options]="categorias"
      formControlName="categoriaId"
      optionValue="id"
      optionLabel="descripcion"
    ></p-dropdown>
    <label for="codigoBarras" class="col-12"><h5>Código de Barras:</h5></label>
    <input
      type="text"
      id="codigoBarras"
      class="col-12"
      pInputText
      placeholder="Codigo de barras etiqueta del producto"
      formControlName="codigoBarras"
    />
    <label for="precio" class="col-6"><h5>Precio de venta:</h5></label>
    <label for="catidad" class="col-6"><h5>Cantidad producto</h5></label>
    <input
      type="text"
      id="precio"
      class="col-6 mr-2"
      pInputText
      placeholder="Precio de venta del producto"
      formControlName="precio"
    />
    <input
      type="text"
      id="cantidad"
      class="col-5"
      pInputText
      placeholder="Numero de unidades en inventario"
      formControlName="cantidad"
    />
    <div class="col-4 col-offset-8">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        label="Guardar"
        class="p-button-rounded w-full"
        (click)="guardar()"
        *ngIf="producto?.id"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-save"
        label="Crear"
        class="p-button-rounded p-button-success"
        style="min-width: 100%"
        (click)="crear()"
        *ngIf="!producto?.id"
      ></button>
    </div>
  </div>
</form>
